* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(243, 242, 239);
}
.container {
  margin: auto;
  margin-top: 100px;
  text-align: center;
  width: 30%;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 15px;
}

.formulario {
  padding: 30px;
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.cajita {
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cajita label {
  color: grey;
  font-size: 13px;
  text-align: left;
  margin-bottom: 7px;
}

.cajita input {
  height: 30px;
  border-radius: 4px  ;
  border: 1px solid grey
  
}


.linea {
  margin: 20px 0;
  width: 100%;
  border-top: 1px solid rgb(202, 199, 199);

}

button {
  
  cursor: pointer;
  font-weight: bold;
  color: azure;
  border:none;
  border-radius: 10px;
  margin-top: 20px;
  height: 40px;
  background-color: rgb(10,102,194);
}

button:hover {
  background-color: black;
}